
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');



*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.main{
    background-image: url(bg.jpeg);
    /* background-color: black; */
    height: 40rem;
    width: 100%;
    max-width: 120rem;
    body{
        background-color: black;
    }
    .black{
    
        height: 40rem;
        width: 100%;
        background-color: black;
        opacity: 0.8;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 75%;
    position: relative;
    background-color:inherit;
    margin: auto;
    padding: auto;
}
.logo{
    height: 7rem;
    width: auto;
}
.sign-in{
    width: auto;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: white;
}

body{
    background-color: black;
}
.language{
    height:1.25rem;
    width: auto;
    background-color: inherit;
    border :1px white;
    color: white;
    border-radius: 1px;
    margin-right: 1.5rem;
    font-size: medium;
    cursor: pointer;
}
.hero{
    height: 60%;
    width: 40%;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first{
    font-size: 48px;
    font-weight: bolder;
}
.second{font-weight:580;
    font-size: 24px;
}

.third{font-weight:400;
/* font-size:24px; */
}

.hero2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.email{
    color: white;
    border: 5px whitesmoke;
    border-radius: 3px;
    font-size: large;
    background-color:black;
    opacity: 0.7;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 15px;
}

.getstarted{
color: white;
background-color: red;
border: none;
border-radius: 3px;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
font-size: 1.125rem;
}
/* -----section------ */
.heading{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
    text-align: right;
}

.faq-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 4vw;
    background-color: #2d2d2d;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding: 35px;
    gap: 20px;
    cursor: pointer;
}
.faq-question span{
    color: white;

}
   

.faq{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.separation{
    height: 7px;
    width: 100%;
    background-color: lightgray; 
}

.container{
    height: 400px;
    width: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px;
    margin: auto;
}
.head3{
    height: 35px;
    width: 80%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    margin-top: 35px;
}

.box{
    height: 95%;
    width: 20%;
    padding: 20px;
    background: rgb(33,21,37);
background: linear-gradient(159deg, rgba(33,21,37,1) 58%, rgba(27,31,63,1) 100%);
    /* background: rgb(121,9,102); */
/* background: linear-gradient(125deg, rgba(121,9,102,1) 5%, rgba(107,8,94,1) 12%, rgba(2,0,36,1) 49%, rgba(2,0,36,1) 49%, rgba(121,9,102,1) 93%); */
border-radius: 15px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
}

.box-text{
    color:white;
    font-weight: 600;
    font-size: 25px;
}
/* -------footer------------ */

footer{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    margin-top: 65px;
    padding: 10px;
    text-decoration: underline;
}

.firstrow{
    position: relative;
    height: 40px;
    width: 55%;
    gap: 0px;
}

.secondrow{
    position: relative;
    height: 40px;
    color: gray;
    background-color: black;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;

}

.thirdrow{
    position: relative;
    height: 40px;
    color: gray;
    background-color: black;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


    .fourthrow{
        position: relative;
        height: 40px;
        color: gray;
        background-color: black;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .fifthrow{
        position: relative;
        height: 40px;
        color: gray;
        background-color: black;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
/* .firstrow{
    height: 60%;
    width:80%

}

.secondrow{
    height: 60%;
    width:80%
    display: flex;
    align-items:center} */

  .head-container2{
    height: 30px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }  

.container2{
    height: 350px;
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
    .box2{
        width: 197px;
        height: 276px;
        border-radius: 10px;
    }
    .box2 img{
        border-radius: 17px;
        

    }

  
    